<footer id="abt">    
    <div class="p-5  text-light text-left">
        <h1 style="color: #296e; font-family: Georgia, serif; font-weight:bolder;">Gk ltd.</h1>
        <a style="color: #296e;" class="nav-link active" href="mailto:gmkrishna11082003@gmail.com">Email : gmkrishna11082003@gmail.com</a>
        <a style="color: #296e;" class="nav-link inactive" href="">Phone Number : 6383845825</a> 
    <br>
    <br>
    <h6> <span>&copy</span> copyright</h6>
    </div>
</footer>