
        <div style="margin-top: 60px;" class="p-5 text-light text-center">
            <h1>F2C</h1>
            <p style="color: #296e;">Connect Farmer & Buyer</p>
            <p style="color: #296e;">Low price, Good product</p> 
        </div>

        <div>
            <nav  style="background-color: #ccff99;" class="navbar navbar-expand-lg navbar-light fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li>
                      <div id="google_translate_element"></div>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="./B_home.html">Home page</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#abt">About</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
        </script>
    
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        